// COLORS
$primary-color: #f7941e; //hsl(213, 93%, 54%) //rgb(247, 148, 30)
$primary-accent: #cf7305;

$white-color: #fff;

$dark-grey: #333333;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// HEADINGS
$heading-color: $dark-grey;
